.swiper-container {
  width: 200px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.dashboard {
  display: flex;
  flex-direction: row;
}

.left-dashboard {
  background-color: #fae6d6;
  padding: 12px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
}

.right-dashboard {
  margin: 10px;
}

.images-to-compare {
  display: flex;
  background-color: white;
  flex-grow: 1;
}

.image-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 6px;
  width: 100%;
  height: 100%;
}

.image-col > h2 {
  margin: 4px 0;
}

.image-col > img {
  object-fit: contain;
}

h1 {
  font-size: xx-large !important;
}
h2 {
  font-size: x-large !important;
  font-weight: 500 !important;
}
h3 {
  font-size: large !important;
  font-weight: bold !important;
}

h4 {
  font-size: medium !important;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0px;
}

.item-table {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  grid-gap: 10px;
  height: 100%;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-subrow {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  flex-grow: 1;
}

.button-row button {
  padding: 10px 0;
  flex-grow: 1;
}

.SCO-cell {
  display: flex;
  flex-direction: column;
  background: #fae6d6;
  color: #c00200;
  margin: 16px 0;
  padding: 5px;
}

.SCO-cell-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 6px;
}

.right-dashboard h1,
.right-dashboard h2,
.right-dashboard h3,
.right-dashboard h4 {
  margin: 0;
  padding: 0 5px;
}

.right-dashboard-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.disappear-while-big {
  display: none !important;
}

.disappear-when-medium {
  display: none !important;
}

.disappear-below-medium {
  display: inherit !important;
}

.number-circle {
  width: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  font-size: 32px;
  border: 2px solid #c00200;
  background-color: #c00200;
  color: white;
}

@media only screen and (max-width: 850px) {
  .left-dashboard {
    flex-grow: 1;
    margin: 0;
    padding: 8px;
  }

  .images-to-compare {
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    justify-content: space-evenly;
  }

  .image-col {
    flex-grow: 1;
    margin: 0;
    overflow: hidden;
  }

  .disappear-while-small {
    display: none !important;
  }

  .button-row {
    flex-direction: column;
    align-items: stretch;
  }

  .button-subrow {
    margin: 10px 0 0 0;
  }

  .item-table {
    flex-grow: 1;
    gap: 0;
    padding: 8px 12px;
  }

  .dashboard {
    margin: 0;
  }

  .disappear-while-big {
    display: inherit !important;
  }

  .button-row > button {
    padding: 5px 0;
  }

  .button-subrow > button {
    padding: 8px 0;
  }

  .description {
    margin: 8px 0;
  }
}

@media only screen and (max-width: 950px) {
  .swiper-container {
    width: 150px;
  }

  .right-dashboard-header {
    flex-direction: column-reverse;
  }
  .right-dashboard .SCO-cell {
    font-size: small;
    height: 100px;
  }
  .SCO-cell-row {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .disappear-below-medium {
    display: none !important;
  }
}

@media only screen and (min-width: 1200px) {
  .disappear-when-medium {
    display: inherit !important;
  }

  .swiper-container {
    width: 300px;
  }
}
