.dashboard {
  display: flex;
  flex-direction: row;
}

.left-dashboard {
  background-color: #fae6d6;
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 200px);
}

.right-dashboard {
  margin: 10px;
}

.images-to-compare {
  display: flex;
  background-color: white;
  height: calc(100vh - 250px);
}

.image-col {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 6px;
  flex-grow: 1;
  margin: auto 0;
  max-height: 100%;
}

.image-col > img {
  object-fit: contain;
}

h3 {
  font-size: large !important;
  font-weight: bold !important;
}
h4 {
  font-size: medium !important;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0px;
}

.item-table {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  grid-gap: 10px;
  height: 100%;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-subrow {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  flex-grow: 1;
}

.button-row button {
  padding: 20px 0;
  flex-grow: 1;
}

.SCO-cell {
  display: flex;
  flex-direction: column;
  background: #fae6d6;
  color: #c00200;
  margin: 16px 0;
  padding: 5px;
}

.SCO-cell-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 6px;
}

.right-dashboard h1,
.right-dashboard h2,
.right-dashboard h3,
.right-dashboard h4 {
  margin: 0;
  padding: 0 5px;
}

.right-dashboard-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.disappear-while-big {
  display: none !important;
}

.disappear-below-medium {
  display: none !important;
}

.number-circle {
  width: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  font-size: 32px;
  border: 2px solid #c00200;
  background-color: #c00200;
  color: white;
}

@media only screen and (max-width: 900px) {
  .left-dashboard {
    margin: 0;
    width: auto;
    flex-grow: 1;
    min-width: 400px;
  }

  .images-to-compare {
    flex-direction: column;
    max-height: calc(100vh - 370px);
    justify-content: space-evenly;
  }

  .image-col {
    flex-grow: 0;
    margin: 0;
    max-height: 50%;
  }

  .image-col > img {
    max-height: calc(100% - 50px);
    object-fit: cover;
  }

  .disappearing-while-small {
    display: none !important;
  }

  .button-row {
    flex-direction: column;
    align-items: stretch;
  }

  .button-subrow {
    margin: 10px 0 0 0;
  }

  .left-dashboard .headers {
    font-size: x-small;
  }

  .right-dashboard .SCO-cell {
    font-size: small;
    height: 100px;
  }
  .SCO-cell-row {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .item-table {
    flex-grow: 1;
  }

  .dashboard {
    margin: 0;
  }

  .disappear-while-big {
    display: inherit !important;
  }

  .right-dashboard-header {
    flex-direction: column-reverse;
  }
}

@media only screen and (min-width: 1100px) {
  .disappear-below-medium {
    display: inherit !important;
  }
}
